<div id="title">
    <h1>{{ title }}</h1>
    <h2>{{ subtitle }}</h2>
    <p>{{ mail }}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium quis quam non rutrum. Phasellus nec velit vel arcu imperdiet placerat. Vestibulum dignissim, arcu vel dignissim rhoncus, ex nisi porta mi, eu faucibus mauris dolor vitae metus. Morbi aliquam magna ut sodales lacinia. Donec imperdiet auctor ipsum sit amet porta. Aenean eu aliquam sem. Praesent volutpat lorem nunc, ultrices blandit lectus consequat eu. Donec vel arcu sit amet augue ultrices tincidunt lacinia et nunc. Etiam accumsan metus ac mi commodo pharetra. Integer eu feugiat enim. Suspendisse porttitor elit quis augue convallis congue. Mauris faucibus ut velit vitae bibendum. Morbi semper, ante sed suscipit malesuada, nulla metus auctor metus, sed dignissim ligula quam eget tortor. Duis et eros bibendum, varius mauris at, dignissim neque. Aenean rutrum eros a augue tincidunt, ac elementum justo faucibus.
        Nunc a venenatis dui, nec mollis massa. Suspendisse in ullamcorper mauris, vel semper nisi. Vestibulum ex libero, rutrum non lacinia at, aliquam ut urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec accumsan vitae diam non tempus. Sed tristique vel tortor at posuere. In aliquet est a mi dapibus pretium. Morbi laoreet ante tincidunt urna egestas, et laoreet leo efficitur.
        Nunc tempus, justo sed posuere sagittis, lacus metus luctus turpis, a pulvinar ex nulla facilisis ipsum. Aliquam at gravida ante. Pellentesque vestibulum massa eu urna ultricies, ut maximus arcu dictum. Fusce mollis, dui non aliquam tempus, libero risus efficitur felis, vitae lobortis mauris magna et tellus. Nullam rhoncus posuere dui, id interdum odio sodales ut. Duis rhoncus luctus hendrerit. Sed eu sem eros. Nulla ut orci dui. Donec felis ante, finibus vitae felis ut, porta viverra quam. Donec eu erat lorem. Cras semper feugiat tristique. Pellentesque facilisis pretium justo mollis dapibus. In aliquam risus nec augue euismod, et accumsan turpis elementum.
    </p>
</article>