<div class="container" *ngIf="project">
    <h2>{{ title }}</h2>

    <!-- Mensaje postEnvio-->
    <div class="message success" *ngIf="status == 'success'" >
        El proyecto ha sido creado éxitosamente. Puedes <a [routerLink]="['/project', save_project._id]">verlo aquí.</a>
    </div>

    <div class="message failed" *ngIf="status == 'failed'" >
        ERROR! el proyecto no ha sido creado.
    </div>

    <!-- ngSubmit, recogerá la información del formulario. Y le damos como parámetro el ngForm para resetearlo -->
    <!-- ngForm será la etiqueta principal del formulario, para hacer referencia -->
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" autocomplete="off" required 
            placeholder="Nombre del proyecto"/>

            <span class="form_error" *ngIf="name.touched && !name.valid" > 
                *Campo obligatorio.
            </span>
        </p>

        <p>
            <label for="description">Descripción</label>
            <textarea type="text" name="description" #description="ngModel" [(ngModel)]="project.description" 
            autocomplete="off" required placeholder="Añade una descripción..."></textarea>

            <span class="form_error" *ngIf="description.touched && !description.valid" > 
                *Campo obligatorio.
            </span>
        </p>

        <p>
            <label for="category">Categoría</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" autocomplete="off" 
            required placeholder="Categoría"/>

            <span class="form_error" *ngIf="category.touched && !category.valid" > 
                *Campo obligatorio.
            </span>
        </p>

        <p>
            <label for="year">Año de lanzamiento</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" autocomplete="off" required/>

            <span class="form_error" *ngIf="year.touched && !year.valid" > 
                *Campo obligatorio.
            </span>
        </p>

        <p>
            <label for="langs">Lenguaje</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" autocomplete="off" required 
            placeholder="Lenguaje"/>

            <span class="form_error" *ngIf="langs.touched && !langs.valid" > 
                *Campo obligatorio.
            </span>
        </p>

        <p>
            <label for="image">Imagen del proyecto</label>
            <span *ngIf="project.image">
                <img src="{{ url+'get-image/'+project.image }}" width="100px" />
            </span><br>
            <input type="file" name="iamge" placeholder="Subir imágen" (change)="fileChangeEvent($event)"/>
        </p>

        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
    </form>
</div>